<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="{{ url_for('static', filename='script/script.js') }}"></script>

    <style>
        .base_content {
            height: 100vh;
            background-image: url("{{ url_for('static', filename='media/bg3.svg') }}");
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            background-color: aqua;
        }
    </style>

    {% block head %}{% endblock %}
</head>
<body>
    <div class="base_content">
        <nav class="navbar navbar-expand-sm">
            <div class="container-fluid">
              <a class="navbar-brand" id="navbar-head" href="/biometricdetail">Nutrition Assistant</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                <ul class="navbar-nav"> 
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownbtn" href="#" role="button" data-bs-toggle="dropdown">Search Food</a>
                    <ul class="dropdown-menu" id="dropdowncontent">
                      <li><a href="/biometricdetail" class="pagelink">Biometrics Details</a></li><br>
                      <li><a href="/enterdetail" class="pagelink">Enter Details</a></li><br>
                      <li><a href="/detailconfirm" class="pagelink">Confirm Detail</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownbtn" href="#" role="button" data-bs-toggle="dropdown">Search Food</a>
                    <ul class="dropdown-menu" id="dropdowncontent">
                      <li><a href="/searchfood" class="pagelink">Search Food</a></li><br>
                      <li><a href="/foodstatus" class="pagelink">Food Status</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="dropdownbtn" href="#" role="button" data-bs-toggle="dropdown">Add Calorie</a>
                    <ul class="dropdown-menu" id="dropdowncontent">
                      <a href="/addcalorie" class="pagelink">Add Calorie Level</a>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </div>

    {% block body %}{% endblock %}
</body>
</html>
