{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class="biometricdetail_content">
    <h3 class="biometricdetail_head">Biometrics Details</h3>
    <p class="biometricdetail_description">You can add your biometrics details to register your health condition about your body. To access the resources of the nutrition assistant application, you can add your biometrics details first.</p>
    <a href="/enterdetail" class="enterdetaillink">Let's Start</a>
</div>

{% endblock %}
